//create players
.create-players-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 700px;

    button {
        padding: 5px;
        width: 75px;
        background: $dark-blue;
        border: 1px solid white;
        color: white;
    }

    h1,
    h2,
    h3,
    p {
        font-family: Roboto;
    }

    .players-table {
        width: 100%;
        margin: auto;
        padding-top: 30px;
        color: white;

        a {
            text-decoration: underline;
            color: white;
        }

        table {
            width: 90%;
            margin: auto;
            text-align: left;
            padding: 10px;

            .player-id {
                width: 30px;
            }

            .player-first {
                width: 80px;
            }

            .player-last {
                width: 80px;
            }

            .player-club {
                width: 120px;
            }

            .player-edit {
                width: 50px;
                text-align: center;
            }

            .player-delete {
                width: 50px;
                text-align: center;
            }
        }
    }

    .players-box {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 15px;
        width: 90%;
        background: $light-blue;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid white;

        .alert {
            margin-top: 20px;
            border: 1px solid white;
            width: 300px;
            padding: 10px;
            color: white;
            text-align: center;
        }
    }

    .players-header {
        color: white;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        flex-direction: column;

        button {
            margin-top: 20px;
            width: 160px;
        }

        input {
            margin-top: 20px;
            padding: 5px;
        }
        h1 {
            font-size: 24px;
            line-height: 30px;
        }
    }


    .players-form {
        padding: 20px 0;
        
        
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;

           label {
               width: 100px;
               text-align: right;
               padding: 5px 5px 5px 10px;
           }

           input {
               width: 250px;
               padding: 5px;
           }

           button {
               margin-top: 15px;
           }
        }

    }

    .players-lists {
        padding-top: 40px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        ul {
            list-style: none;
            padding: 0;
            li {
                height: 50px;
            }
        }

        .players-name {
            flex-grow: 1;
            padding: 5px;
        }

        .players-name,.players-edit,.players-delete {
            padding: 0 15px;
        }

    }

    .players-delete {
        max-width: 700px;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;

        .players-name {
            padding: 5px;
            flex-grow: 1;
        }
        .players-delete {
            padding: 5px;
        }

    }
    
    @media(max-width: 500px) {
        .players-form {
            form {
                flex-direction: column;

                button {
                    margin-top: 15px;
                }
            }
        }
        .players-delete {
            flex-direction: column;
        }

    }
}