//RESULTS
.results-container {
    background: $light-blue;
    height: auto;
    border: 2px solid white;
    border-right: none;
    border-left: none;
    width: 100%;
    border-top: none;
    padding-bottom: 20px;
    color: white;
    p {
        font-size: 16px;

    }
}

.results-container:first-of-type {
    border-top: 2px solid white;
}

.results-container__title {
    margin: auto;
    max-width: 975px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .results-div {
        padding: 15px 15px 0 15px;
        text-transform: uppercase;
        color: $gold;
    }

    .results-date {
        padding: 15px 15px 0 15px;
        flex-grow: 1;
        text-align: right;
        color: $gold;
    }

    .results-info {
        flex-grow: 1;
        text-align: left;
        padding: 0 15px 15px 15px;
        color: white;
    }


}

.results-vs {
    height: 75px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 25px;

    h1 {
        font-weight: bold;
        font-size: 14px;
    }
}

.results-container__main {
    margin: auto;
    max-width: 800px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
   
    .results-team {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;

        .results-team__header {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;            
            text-align: center;

            p {
                font-size: 20px;
                font-weight: normal;
            }
        }

        .results-team__score {
            p {
                font-size: 30px;
                font-weight: bold;
            }
        }

    }

    .win {
        background: green;
    }

    .win-text {
        color: $gold !important;

        p {
            color: $gold !important;
        }

        li:last-of-type {
            color: $gold !important;
        }
    }

    .lose {
        background: rgb(180, 4, 4);
    }

    .lose-text {
        color: white;
    }

    .home-team {
        color: $gold;
    }

    .away-team {
        color: white;
    }

}

@media (max-width: 600px) {
    .results-container {
        height: auto;
    }

    .results-container__title {
        flex-direction: column;
        border: none;

        .results-info {
            padding: 0 15px 20px 15px;
            text-align: left;
        }

        .results-date {
            text-align: left;
            padding: 0 15px;
        }

    }

    .results-container__main {
        flex-direction: column;
        height: 100%;
        padding-bottom: 15px;

        .results-logo {
            width: 100px;
            height: 100%;
        }

        .results-team {            
            width: 100%;
        }

        .results-vs {
            height: 10px;
            padding: 15px 0;
        }
    }
}