
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'partials/variables.scss';

//imports
@import 'partials/fonts.scss';
@import 'partials/header.scss';
@import 'partials/footer.scss';
@import 'partials/nav.scss';
@import 'partials/main.scss';
@import 'partials/results.scss';
@import 'partials/view.scss';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//general styles
html, body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.hide {
  display: none !important;
}

//generic media queries
@media (max-width: 600px) {
  .hide {
    display: block !important;
  }
}

