header {
    width: 100%;
    margin: auto;
    background: $dark-blue;
    h1 {
        font-size: 28px;
        // font-family: 'Shrikhand', cursive;
        font-family: Roboto;
        line-height: 30px;
    }

    .header-container {
        margin: auto;
        width: 100%;
        max-width: 1200px;
        background: $dark-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .logo {
        width: 250px;
        img {
            margin: auto;
            width: 250px;
            padding: 25px;
        }
    }
    .main-title {
        width: 100%;
        max-width: 500px;
        text-align: center;
        padding-bottom: 30px;
    }
    
   nav {
        margin: auto;
        width: 100%;
        color: $gold;
        font-weight: bold;
       ul {
           margin: auto;
           width: 100%;
           max-width: 700px;
           list-style: none;
           padding: 0;
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           li {
               padding: 10px;
           }
       }
   }

   a {
       text-decoration: none;
       color: $gold;
       &:hover {
           text-decoration: none;
           color: gold;
       }
   }
}   